day_2_bronze_ingestion_adf_setup/adf_pipeline_json/pl_bronze_api_payments_v2.json
{
  "name": "pl_bronze_api_payments_v2",
  "properties": {
    "parameters": {
      "p_load_type": {
        "type": "string",
        "defaultValue": "incremental"
      },
      "p_watermark": {
        "type": "string",
        "defaultValue": ""
      }
    },
    "variables": {
      "v_token": {
        "type": "String"
      },
      "v_watermark": {
        "type": "String"
      },
      "v_ingestion_date": {
        "type": "String"
      },
      "v_current_page": {
        "type": "Integer",
        "defaultValue": 1
      },
      "v_temp_page": {
        "type": "Integer",
        "defaultValue": 1
      },
      "v_total_pages": {
        "type": "Integer",
        "defaultValue": 1
      }
    },
    "activities": [
      {
        "name": "act_get_username",
        "type": "WebActivity",
        "dependsOn": [],
        "typeProperties": {
          "url": "https://kv-ev-intelligence-dev.vault.azure.net/secrets/voltgrid-username/?api-version=7.0",
          "method": "GET",
          "authentication": {
            "type": "MSI",
            "resource": "https://vault.azure.net"
          }
        }
      },
      {
        "name": "act_get_password",
        "type": "WebActivity",
        "dependsOn": [
          {
            "activity": "act_get_username",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "url": "https://kv-ev-intelligence-dev.vault.azure.net/secrets/voltgrid-password/?api-version=7.0",
          "method": "GET",
          "authentication": {
            "type": "MSI",
            "resource": "https://vault.azure.net"
          }
        }
      },
      {
        "name": "act_api_login",
        "type": "WebActivity",
        "dependsOn": [
          {
            "activity": "act_get_password",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "url": "https://ev-project-navy-mu.vercel.app/api/auth/login/",
          "method": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "value": "@concat('{\"username\":\"', activity('act_get_username').output.value, '\",\"password\":\"', activity('act_get_password').output.value, '\"}')",
            "type": "Expression"
          }
        }
      },
      {
        "name": "act_set_token",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "act_api_login",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "variableName": "v_token",
          "value": {
            "value": "@activity('act_api_login').output.token",
            "type": "Expression"
          }
        }
      },
      {
        "name": "act_set_ingestion_date",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "act_set_token",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "variableName": "v_ingestion_date",
          "value": {
            "value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
            "type": "Expression"
          }
        }
      },
      {
        "name": "act_set_watermark",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "act_set_ingestion_date",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "variableName": "v_watermark",
          "value": {
            "value": "@if(equals(pipeline().parameters.p_load_type, 'full'), '1900-01-01T00:00:00Z', pipeline().parameters.p_watermark)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "act_get_total_pages",
        "type": "WebActivity",
        "dependsOn": [
          {
            "activity": "act_set_watermark",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "url": {
            "value": "@concat('https://ev-project-navy-mu.vercel.app/api/db/payments/?page=1&page_size=100&updated_after=', variables('v_watermark'))",
            "type": "Expression"
          },
          "method": "GET",
          "headers": {
            "Authorization": {
              "value": "@concat('Token ', variables('v_token'))",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "act_set_total_pages",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "act_get_total_pages",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "variableName": "v_total_pages",
          "value": {
            "value": "@activity('act_get_total_pages').output.pagination.total_pages",
            "type": "Expression"
          }
        }
      },
      {
        "name": "act_paginate",
        "type": "Until",
        "dependsOn": [
          {
            "activity": "act_set_total_pages",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "expression": {
            "value": "@greater(variables('v_current_page'), variables('v_total_pages'))",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "act_copy_payments_page",
              "type": "Copy",
              "dependsOn": [],
              "typeProperties": {
                "source": {
                  "type": "RestSource",
                  "additionalHeaders": {
                    "Authorization": {
                      "value": "@concat('Token ', variables('v_token'))",
                      "type": "Expression"
                    }
                  },
                  "requestMethod": "GET"
                },
                "sink": {
                  "type": "JsonSink",
                  "storeSettings": {
                    "type": "AzureBlobFSWriteSettings"
                  },
                  "formatSettings": {
                    "type": "JsonWriteSettings",
                    "filePattern": "setOfObjects"
                  }
                },
                "enableStaging": false
              },
              "inputs": [
                {
                  "referenceName": "ds_voltgrid_payments_src_v2",
                  "type": "DatasetReference",
                  "parameters": {
                    "p_page": {
                      "value": "@variables('v_current_page')",
                      "type": "Expression"
                    },
                    "p_page_size": 100,
                    "p_updated_after": {
                      "value": "@variables('v_watermark')",
                      "type": "Expression"
                    }
                  }
                }
              ],
              "outputs": [
                {
                  "referenceName": "ds_bronze_payments_sink_v2",
                  "type": "DatasetReference",
                  "parameters": {
                    "p_ingestion_date": {
                      "value": "@variables('v_ingestion_date')",
                      "type": "Expression"
                    },
                    "p_page": {
                      "value": "@variables('v_current_page')",
                      "type": "Expression"
                    }
                  }
                }
              ]
            },
            {
              "name": "act_set_temp_page",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "act_copy_payments_page",
                  "dependencyConditions": ["Succeeded"]
                }
              ],
              "typeProperties": {
                "variableName": "v_temp_page",
                "value": {
                  "value": "@add(variables('v_current_page'), 1)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "act_increment_page",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "act_set_temp_page",
                  "dependencyConditions": ["Succeeded"]
                }
              ],
              "typeProperties": {
                "variableName": "v_current_page",
                "value": {
                  "value": "@variables('v_temp_page')",
                  "type": "Expression"
                }
              }
            }
          ],
          "timeout": "0.12:00:00"
        }
      }
    ]
  }
}
